#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

1 VERSIONINFO
    FILEVERSION     CHROMAFILE_VERSION
    PRODUCTVERSION  CHROMAFILE_VERSION
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo" {
        BLOCK "040904B0" {
            VALUE "CompanyName", "chroma zone\0"
            VALUE "FileDescription", "chromafile\0"
            VALUE "FileVersion", CHROMAFILE_VERSION_STRING
            VALUE "LegalCopyright", "Copyright (c) J. van't Hoog\0"
            VALUE "ProductName", "chromafile\0"
            VALUE "ProductVersion", CHROMAFILE_VERSION_STRING
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04B0
    }
}

IDR_RT_MANIFEST1 RT_MANIFEST "res\\chromafile.exe.manifest"

IDR_APP_ICON    ICON    "res\\folder.ico"

IDR_ICON_FONT   FONT    "res\\SegMDL2-subset.ttf"

IDR_ITEM_ACCEL  ACCELERATORS {
    VK_TAB,         IDM_NEXT_WINDOW,    VIRTKEY
    VK_DOWN,        IDM_NEXT_WINDOW,    VIRTKEY, ALT
    VK_TAB,         IDM_PREV_WINDOW,    VIRTKEY, SHIFT
    VK_UP,          IDM_PREV_WINDOW,    VIRTKEY, ALT
    VK_OEM_2,       IDM_DETACH,         VIRTKEY, CONTROL
    VK_OEM_2,       IDM_CLOSE_PARENT,   VIRTKEY, CONTROL, SHIFT
    "W",            IDM_CLOSE_WINDOW,   VIRTKEY, CONTROL
    VK_F5,          IDM_REFRESH,        VIRTKEY
    "R",            IDM_REFRESH,        VIRTKEY, CONTROL
    VK_F1,          IDM_HELP,           VIRTKEY
    VK_OEM_COMMA,   IDM_SETTINGS,       VIRTKEY, CONTROL
    VK_F10,         IDM_PROXY_MENU,     VIRTKEY
    VK_F2,          IDM_RENAME_PROXY,   VIRTKEY, SHIFT
    "D",            IDM_DELETE_PROXY,   VIRTKEY, CONTROL, SHIFT
    VK_TAB,         IDM_PARENT_MENU,    VIRTKEY, CONTROL, SHIFT
    "N",            IDM_NEW_FOLDER,     VIRTKEY, CONTROL, SHIFT
    "N",            IDM_NEW_TEXT_FILE,  VIRTKEY, CONTROL
}

IDR_TEXT_ACCEL  ACCELERATORS {
    "S",            IDM_SAVE,           VIRTKEY, CONTROL
    "F",            IDM_FIND,           VIRTKEY, CONTROL
    VK_F3,          IDM_FIND_NEXT,      VIRTKEY
    VK_F3,          IDM_FIND_PREV,      VIRTKEY, SHIFT
    "H",            IDM_REPLACE,        VIRTKEY, CONTROL
}

IDR_TEXT_MENU   MENU {
    POPUP "" {
        // based on Edit control context menu
        MENUITEM    "&Undo",            IDM_UNDO
        MENUITEM    "&Redo",            IDM_REDO
        MENUITEM    SEPARATOR
        MENUITEM    "Cu&t",             IDM_CUT
        MENUITEM    "&Copy",            IDM_COPY
        MENUITEM    "&Paste",           IDM_PASTE
        MENUITEM    "&Delete",          IDM_DELETE
        MENUITEM    SEPARATOR
        MENUITEM    "Select &All",      IDM_SELECT_ALL
        MENUITEM    SEPARATOR
        MENUITEM    "&Find...",         IDM_FIND
        MENUITEM    "Find &Next",       IDM_FIND_NEXT
        MENUITEM    "Find Pre&vious",   IDM_FIND_PREV
        MENUITEM    "R&eplace...",      IDM_REPLACE
        MENUITEM    SEPARATOR
        MENUITEM    "&Word Wrap",        IDM_WORD_WRAP
    }
}

// Dialog boxes are designed using RisohEditor.
// Prefer multiples of 7 in all coordinates for consistency.

IDD_SETTINGS_GENERAL    DIALOGEX
        0, 0, 227, 215 // PROP_MED_CXDLG, PROP_MED_CYDLG
        STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
        CAPTION "General"
        FONT 8, "MS Shell Dlg", 400, 0, 0x0 {
    GROUPBOX "&Starting folder", -1, 7, 7, 213, 35
    COMBOBOX IDC_START_FOLDER_PATH, 14, 21, 136, 300, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_TABSTOP
    PUSHBUTTON "&Browse...", IDC_START_FOLDER_BROWSE, 157, 21, 56, 14
    GROUPBOX "Default window sizes", -1, 7, 49, 213, 49
    RTEXT "&Folder", -1, 14, 66, 70, 8
    EDITTEXT IDC_FOLDER_WINDOW_WIDTH, 91, 63, 21, 14, ES_NUMBER
    CTEXT "x", -1, 113, 66, 12, 8
    EDITTEXT IDC_FOLDER_WINDOW_HEIGHT, 126, 63, 21, 14, ES_NUMBER
    RTEXT "File &preview", -1, 14, 80, 70, 8
    EDITTEXT IDC_ITEM_WINDOW_WIDTH, 91, 77, 21, 14, ES_NUMBER
    CTEXT "x", -1, 113, 80, 12, 8
    EDITTEXT IDC_ITEM_WINDOW_HEIGHT, 126, 77, 21, 14, ES_NUMBER
    GROUPBOX "Toolbar", -1, 7, 105, 103, 49
    AUTOCHECKBOX "Show i&nfo text", IDC_STATUS_TEXT_ENABLED, 14, 119, 89, 14
    AUTOCHECKBOX "Show &toolbar", IDC_TOOLBAR_ENABLED, 14, 133, 89, 14
    GROUPBOX "Previews", -1, 117, 105, 103, 49
    AUTOCHECKBOX "Use Preview &Handlers", IDC_PREVIEWS_ENABLED, 124, 119, 89, 14
    AUTOCHECKBOX "Enable te&xt editor", IDC_TEXT_EDITOR_ENABLED, 124, 133, 89, 14
    GROUPBOX "File Explorer options", -1, 7, 161, 213, 35
    LTEXT "Some File Explorer options also affect chromafile folder windows.", -1, 14, 175, 136, 16
    PUSHBUTTON "&Options...", IDC_EXPLORER_SETTINGS, 157, 175, 56, 14
}

IDD_SETTINGS_TRAY       DIALOGEX
        0, 0, 227, 215 // PROP_MED_CXDLG, PROP_MED_CYDLG
        STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
        CAPTION "Tray"
        FONT 8, "MS Shell Dlg", 400, 0, 0x0 {
    AUTOCHECKBOX "Show &tray", IDC_TRAY_ENABLED, 7, 7, 103, 14
    AUTOCHECKBOX "Open tray on &startup", IDC_OPEN_TRAY_ON_STARTUP, 117, 7, 103, 14
    GROUPBOX "Tray &folder", -1, 7, 28, 213, 35
    COMBOBOX IDC_TRAY_FOLDER_PATH, 14, 42, 136, 300, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_TABSTOP
    PUSHBUTTON "&Browse...", IDC_TRAY_FOLDER_BROWSE, 157, 42, 56, 14
    GROUPBOX "Tray direction", -1, 7, 70, 213, 35
    LTEXT "Open items...", -1, 14, 87, 56, 8
    AUTORADIOBUTTON "Abo&ve", IDC_TRAY_DIR_ABOVE, 70, 84, 42, 14
    AUTORADIOBUTTON "Belo&w", IDC_TRAY_DIR_BELOW, 112, 84, 42, 14
    AUTORADIOBUTTON "&Right", IDC_TRAY_DIR_RIGHT, 154, 84, 42, 14
    ICON IDI_INFORMATION, -1, 14, 114, 0, 0
    LTEXT "Drag the upper-left corner of the tray to move. Drag the lower-right corner to resize.", -1, 42, 115, 175, 16
    PUSHBUTTON "R&eset tray position", IDC_RESET_TRAY_POSITION, 42, 135, 70, 14
}

IDD_SETTINGS_ABOUT      DIALOGEX
        0, 0, 227, 215 // PROP_MED_CXDLG, PROP_MED_CYDLG
        STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
        CAPTION "About"
        FONT 8, "MS Shell Dlg", 400, 0, 0x0 {
    ICON IDR_APP_ICON, -1, 7, 7, 0, 0
    LTEXT "chromafile", -1, 35, 7, 49, 8
    LTEXT "Version:", -1, 35, 15, 28, 8
    LTEXT CHROMAFILE_VERSION_STRING, -1, 70, 15, 28, 8
    PUSHBUTTON "Latest updates", IDC_UPDATES_LINK, 7, 28, 66, 14
    PUSHBUTTON "Help", IDC_HELP_LINK, 80, 28, 66, 14
    PUSHBUTTON "Source code", IDC_SOURCE_LINK, 153, 28, 66, 14
}

STRINGTABLE {
    IDS_SETTINGS_CAPTION,   "chromafile Settings"
    IDS_SETTINGS_COMMAND,   "Settings"
    IDS_REFRESH_COMMAND,    "Refresh"
    IDS_NEW_ITEM_COMMAND,   "New..."
    IDS_VIEW_COMMAND,       "View..."
    IDS_SAVE_COMMAND,       "Save"
    IDS_DELETE_COMMAND,     "Delete file"
}
